@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/daisyui@5');
@import url('https://cdn.jsdelivr.net/npm/daisyui@5/themes.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css');
@import url('https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css');
@import url('https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.3.4/b-3.2.5/b-colvis-3.2.5/b-print-3.2.5/r-3.0.7/datatables.min.css');
@import url('https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css');
@import url('https://unpkg.com/filepond@4.32.10/dist/filepond.min.css');

html, body {
    font-family: "Quicksand", serif  !important;
    font-optical-sizing: auto;
    font-size: 14px !important;
    width: 100%;
    margin: auto
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: none;
    scrollbar-color: rgba(175, 184, 196, 0.8) transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: all 0.2s ease-in-out;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(175, 184, 196, 0.8);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 160, 180, 0.9);
}

* {
    transition: all 0.2s;
}

a {
    text-decoration: none !important;
    transition: all 0.2s;
    cursor: pointer;
}

label {
    display: block;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 5px
}

.filepond--drop-label,
.filepond--drop-label label {
    cursor: pointer !important;
}

.dt-container .dt-layout-row,
.dt-container .dt-layout-row .dt-length,
.dt-container .dt-layout-row .dt-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dt-paging,
.dt-paging > button {
    color: var(--color-base-content) !important;
}

img[data-preview] {
    cursor: pointer;
}

dialog .modal-box {
    max-height: 90vh !important;
    overflow: auto !important;
}

dialog .modal-title {
    margin-bottom: 20px !important;
}

.ts-dropdown {
    width: auto !important;
    min-width: 30% !important;
    max-width: 30% !important;
}

@media screen and (max-width: 1024px) {
    .ts-dropdown {
        width: 100 !important;
    }
}
